/* Styling GifTastic Project */

body {
    width: 750px;
    margin: 0 auto;
    font: 18px arial, sans-serif;
    background-color: grey;
}

#header {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font: 30px arial, sans-serif;
}

#container {
    background-color:grey;
}

#addMore {
    background-color: #0A6F57;
}

#gif {
    background-color: #43A18A;
}

#buttons {
    background-color: #0AB58C;
}

.dog-button {
    font: 7px;
}